@{
    ViewData["Title"] = "Home Page";
    var session = ViewData["Session"];
    var myName = ViewData["MyName"];
}

<link rel="stylesheet" href="~/css/game.css" ></link>

<div class="game-container">
    <div class="player-pane">
        <div class="player-list">
            <div class="player-row">
                <div class="player-name">
                    <span>You there</span>
                </div>
                <div class="player-hand-button">
                    <button class="btn btn-primary">Give</button>
                </div>
            </div>
            <div class="player-row">
                <div class="player-name">
                    <span>Adam</span>
                </div>
                <div class="player-hand-button">
                    <button class="btn btn-primary">Give</button>
                </div>
            </div>
            <div class="player-row">
                <div class="player-name">
                    <span>Burt</span>
                </div>
                <div class="player-hand-button">
                    <button class="btn btn-primary">Give</button>
                </div>
            </div>
        </div>
    </div>
    <div class="player-pane-compliment">
        <div class="policy-pane container-flex">
            <div class="row">
                <div class="col col-md-2">
                    <img src="~/cardback.png" />
                    <div class="card-annotation">
                        <p>
                            <span>Draw Pile</span>
                        </p>
                        <p>
                            <span>x8</span>
                        </p>
                    </div>
                </div>
                <div class="col col-md-2">
                    <img src="~/cardbackliberal.png" />
                </div>
                <div class="col col-md-2">
                    <img src="~/cardbackliberal.png" />
                </div>
                <div class="col col-md-2">
                    <img src="~/cardbackliberal.png" />
                </div>
                <div class="col col-md-2">
                    <img src="~/cardback.png" />
                </div>
                <div class="col col-md-2">
                    <img src="~/cardback.png" />
                </div>
            </div>
            <div class="row">
                <div class="col col-md-2">
                    <img src="~/cardback.png" />
                    <div class="card-annotation">
                        <p>
                            <span>Discard Pile</span>
                        </p>
                        <p>
                            <span>x4</span>
                        </p>
                    </div>
                </div>
                <div class="col col-md-2">
                    <img src="~/cardbackfascist.png" />
                </div>
                <div class="col col-md-2">
                    <img src="~/cardbackfascist.png" />
                </div>
                <div class="col col-md-2">
                    <img src="~/cardback.png" />
                </div>
                <div class="col col-md-2">
                    <img src="~/cardback.png" />
                </div>
                <div class="col col-md-2">
                    <img src="~/cardback.png" />
                </div>
            </div>
        </div>
        <div class="hand-pane container-flex">
            <div class="row">
                <div class="col col-md-3"></div>
                <div class="col col-md-2">
                    <div class="hand-label">
                        <button type="button" class="btn btn-primary">Discard</button>
                    </div>
                </div>
                <div class="col col-md-2">
                    <div class="hand-label">
                        <button type="button" class="btn btn-primary">Discard</button>
                    </div>
                </div>
                <div class="col col-md-2">
                    <div class="hand-label">
                        <button type="button" class="btn btn-primary">Discard</button>
                    </div>
                </div>
                <div class="col col-md-3"></div>
            </div>
            <div class="row">
                <div class="col col-md-3"></div>
                <div class="col col-md-2">
                    <img src="~/cardback.png" />
                </div>
                <div class="col col-md-2">
                    <img src="~/cardback.png" />
                </div>
                <div class="col col-md-2">
                    <img src="~/cardback.png" />
                </div>
                <div class="col col-md-3"></div>
            </div>
        </div>
    </div>
</div>
