@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/game.css" ></link>

@section Scripts {

<script type="text/html" id="player-row-template">
    <div class="player-row">
        <div class="player-name">
            <span>You there</span>
        </div>
        <div class="player-alliance-indicator d-none">
            <span class="btn">&nbsp;</span>
        </div>
        <div class="player-vote-indicator">
            <span class="btn">&nbsp;</span>
        </div>
        <div class="player-give-button">
            <button class="btn btn-primary">Give</button>
        </div>
    </div>
</script>

<script type="text/javascript">
    var baseUrl = '@(Url.ActionLink("Index"))';
    var cardBackUrl = '@(Url.Content("~/cardback.png"))';
    var cardBackLiberalUrl = '@(Url.Content("~/cardbackliberal.png"))';
    var cardBackFascistUrl = '@(Url.Content("~/cardbackfascist.png"))';
</script>

<script type="text/javascript" src="~/js/game.js"></script>

}

<div class="game-container">
    <div class="row">
        <div class="col-md-4 d-flex">
            <div class="card w-100">
                <div class="card-header">Players</div>
                <div class="card-body">
                    <div class="player-list">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 d-flex">
            <div class="card w-100">
                <div class="card-header">Vote</div>
                <div class="card-body">
                    <div class="vote-button-pane">
                        <div class="p-1">
                            <button type="button" class="vote-button-yes btn w-100">Yes</button>
                        </div>
                        <div class="p-1">
                            <button type="button" class="vote-button-no btn w-100">No</button>
                        </div>
                        <div class="p-1">
                            <button type="button" class="vote-button-clear btn w-100">Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 d-flex">
            <div class="card w-100">
                <div class="card-header">Deck</div>
                <div class="card-body">
                    <div class="container-flex pile-pane">
                        <div class="row">
                            <div class="col col-md-12">
                                <img src="~/cardback.png" />
                                <div class="card-annotation">
                                    <div>
                                        <span>x<span class="draw-pile-count">0</span></span>
                                    </div>
                                    <div>
                                        <button type="button" class="deck-draw-three-button btn btn-primary">Draw 3</button>
                                    </div>
                                    <div>
                                        <button type="button" class="deck-draw-button btn btn-dark">Draw</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-12">
                                <div class="text-center">
                                    <button class="pass-top-policy-button btn btn-primary">Pass Top Polcy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 d-flex">
            <div class="card w-100">
                <div class="card-header">Discard</div>
                <div class="card-body">
                    <div class="container-flex pile-pane">
                        <div class="row">
                            <div class="col col-md-12">
                                <img src="~/cardback.png" />
                                <div class="card-annotation">
                                    <div>
                                        <span>x<span class="discard-pile-count">0</span></span>
                                    </div>
                                    <div>
                                        <button type="button" class="discard-pile-undiscard-button btn btn-dark">Pick Up</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 d-flex">
            <div class="card w-100">
                <div class="card-header">Your Role</div>
                <div class="card-body">
                    <div class="container-flex pile-pane">
                        <div class="row">
                            <div class="col col-md-12">
                                <img class="role-card" src="~/cardback.png" />
                                <div class="card-annotation">
                                    <p>
                                        <span class="role-annotation"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 d-flex">
            <div class="card w-100">
                <div class="card-header hand-title">Hand</div>
                <div class="card-body">
                    <div class="container-flex hand-pane pile-pane">
                        <div class="row">
                            <div class="col col-md-4">
                                <img class="hand d-none" src="~/cardback.png" />
                                <div class="hand-label card-annotation d-none">
                                    <div>
                                        <button type="button" class="discard-button btn btn-danger" data-hand-index="0">Discard</button>
                                    </div>
                                    <div>
                                        <button type="button" class="replace-button btn btn-dark" data-hand-index="0">Put On Deck</button>
                                    </div>
                                    <div>
                                        <button type="button" class="pass-policy-button btn btn-primary" data-hand-index="0">Pass Policy</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-4">
                                <img class="hand d-none" src="~/cardback.png" />
                                <div class="hand-label card-annotation d-none">
                                    <div>
                                        <button type="button" class="discard-button btn btn-danger" data-hand-index="1">Discard</button>
                                    </div>
                                    <div>
                                        <button type="button" class="replace-button btn btn-dark" data-hand-index="1">Put On Deck</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-4">
                                <img class="hand d-none" src="~/cardback.png" />
                                <div class="hand-label card-annotation d-none">
                                    <div>
                                        <button type="button" class="discard-button btn btn-danger" data-hand-index="2">Discard</button>
                                    </div>
                                    <div>
                                        <button type="button" class="replace-button btn btn-dark" data-hand-index="2">Put On Deck</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex">
            <div class="card w-100">
                <div class="card-header">Policies Passed</div>
                <div class="card-body">
                    <div class="container-flex policy-pane">
                        <div class="row">
                            <div class="col col-md-2">
                                <img class="policy policy-liberal" src="~/cardback.png" />
                            </div>
                            <div class="col col-md-2">
                                <img class="policy policy-liberal" src="~/cardback.png" />
                            </div>
                            <div class="col col-md-2">
                                <img class="policy policy-liberal" src="~/cardback.png" />
                            </div>
                            <div class="col col-md-2">
                                <img class="policy policy-liberal" src="~/cardback.png" />
                            </div>
                            <div class="col col-md-2">
                                <img class="policy policy-liberal" src="~/cardback.png" />
                            </div>
                            <div class="col col-md-2">
                                <div style="margin: 8px;">
                                    <button type="button" class="undo-policy-button btn btn-primary" data-policy="Liberal">X</button>
                                </div>
                                <div style="margin: 8px;">
                                    <button type="button" class="undo-policy-button btn btn-danger" data-policy="Fascist">X</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-2">
                                <img class="policy policy-fascist" src="~/cardback.png" />
                            </div>
                            <div class="col col-md-2">
                                <img class="policy policy-fascist" src="~/cardback.png" />
                            </div>
                            <div class="col col-md-2">
                                <img class="policy policy-fascist" src="~/cardback.png" />
                            </div>
                            <div class="col col-md-2">
                                <img class="policy policy-fascist" src="~/cardback.png" />
                            </div>
                            <div class="col col-md-2">
                                <img class="policy policy-fascist" src="~/cardback.png" />
                            </div>
                            <div class="col col-md-2">
                                <img class="policy policy-fascist" src="~/cardback.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
