
/* Main Layout */

.game-container > .row {
    margin-bottom: 16px;
}

/* Player pane */

.player-row {
    display: flex;
    padding: 2px;
    margin: 2px;
    border-radius: 0.25rem;
    background-color: lightblue;
    flex-direction: row;

}

.player-name {
    flex: 1;
    padding: 9px;
    white-space: nowrap;
}

.player-hand-button {
    flex: 0;
    margin: 2px;
    white-space: nowrap;
}



/* Policy pane */

.policy-pane img {
    width: 100%;
}



/* Deck / Discard panes */

.pile-pane img {
    width: 100%;
}

.pile-pane .row .col {
    position: relative;
}

.pile-pane .row .col .card-annotation {
    position: absolute;
    text-align: center;
    top: 36px;
    left: 0;
    right: 0;
    font-size: medium;
    font-weight: bold;
}

.pile-pane .row .col .card-annotation span {
    background-color: white;
    padding: 4px;
    border-radius: 0.25rem;
    font-size: large;
}



/* Hand pane */

.hand-pane img {
    width: 100%;
}

.hand-pane .row .col .hand-label {
    text-align: center;
}
