
/* Main Layout */

.game-container > .row {
    margin-bottom: 16px;
}

/* Player pane */

.player-row {
    display: flex;
    padding: 2px;
    margin: 2px;
    border-radius: 0.25rem;
    background-color: lightblue;
    flex-direction: row;

}

.player-name {
    flex: 1;
    padding: 9px;
    white-space: nowrap;
}

.player-vote-indicator span {
    min-width: 48px;
    margin: 2px;
    cursor: default;
    background-color: gray;
    color: white;
}

.player-vote-indicator span:hover {
    color: white;
}

.player-vote-indicator .vote-yes {
    min-width: 48px;
    margin: 2px;
    border-radius: 0.25rem;
    background-color: green;
}

.player-vote-indicator .vote-no {
    min-width: 48px;
    margin: 2px;
    border-radius: 0.25rem;
    background-color: darkred;
}

.player-give-button {
    flex: 0;
    margin: 2px;
    white-space: nowrap;
}


/* Vote pane */

.vote-button-pane button, .vote-button-pane button:hover {
    color: white;
}

.vote-button-yes {
    background-color: darkgreen;
}

.vote-button-no {
    background-color: darkred;
}

.vote-button-clear {
    background-color: gray;
}



/* Policy pane */

.policy-pane img {
    width: 100%;
}

.policy-pane .row .col {
    padding-left: 0;
    padding-right: 0;
}



/* Deck / Discard panes */

.pile-pane img {
    width: 100%;
}

.pile-pane .row .col {
    position: relative;
}

.pile-pane .row .col .card-annotation {
    position: absolute;
    text-align: center;
    top: 36px;
    left: 0;
    right: 0;
    font-size: medium;
    font-weight: bold;
}

.pile-pane .row .col .card-annotation span {
    background-color: white;
    padding: 4px;
    border-radius: 0.25rem;
    font-size: large;
}



/* Hand pane */

.hand-pane img {
    width: 100%;
}

.hand-pane .row .col .hand-label {
    text-align: center;
}
