@model MinisterSelectionViewModel
@{
    ViewData["Title"] = "Join Game";
}

<div class="text-center">
    <h1 class="display-4">Which Minister are You?</h1>
    <p>Join as one of the following ministers:</p>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-start">
                <form asp-action="Index" method="get">
                    <input type="hidden" name="sessionId" value="@Model.SessionId" />
                    @foreach (var minister in Model.Ministers) {
                        <label>
                            <input type="radio" name="ministerId" value="@minister.Id" />
                            @minister.Name
                        </label>
                        <br>
                    }
                    <button class="btn btn-outline-primary">Join</button>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

</div>
