@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Create a new session:</p>
    
    <form asp-action="NewSession" method="get">
        <button class="btn btn-outline-primary">Start a New Game</button>
    </form>

</div>
