@{
    ViewData["Title"] = "Invalid Session";
}

<div class="text-center">
    <h1 class="display-4">Woops!</h1>
    <p>
        Your sesion is invalid.
    </p>
    <p>
        This can be caused by clearing your cookies. You will need to join a new game.
    </p>
</div>
