@{
    ViewData["Title"] = "Home Page";
    var session = ViewData["Session"];
    var myName = ViewData["MyName"];
    var players = (List<string>)(ViewData["Players"] ?? throw new ArgumentNullException("ViewData.Players"));
}

@section Scripts {
<script type="text/javascript">
    function copyText(text){
        navigator.clipboard.writeText(text);
        $(".copied-indicator").removeClass("d-none");
    }
</script>
}

<div class="text-center">
    <h1 class="display-4">Join Game</h1>
    <p>
        Welcome @myName
    </p>
    <p>
        Wait for the creator of the session to start the game.
    </p>
</div>

<div class="d-flex justify-content-center">
    <div>
        <p>
            Current players:
        </p>
        <ul>
            @foreach(var player in players){
                <li>@player</li>
            }
        </ul>
        <button type="button" class="btn btn-secondary" onclick="location.reload()">Refresh</button>
    </div>
</div>
